/* common style  start*/
body {
    font-family: 'Work Sans', sans-serif;

}

.primary-color {
    color: #131313;
}

.secondary-color {
    color: #727272;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

.title-text {
    font-weight: 700;
    font-size: 45px;
}

/* common style end  */

/* header style start  */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

/* nav style start  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-title {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #727272;
    font-size: 18px;
    font-weight: 500;
}

/* nav style end  */
/* banner style start  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 50px auto;

}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    word-wrap: break-word;
}

.banner-img {
    width: 100%;
}

/* banner style end  */
/* header style end  */

/* main style start  */
main {
    max-width: 1440px;
    margin: 100px auto;
    padding: 0 100px;
}

/* main style end  */

/* teams style start  */
.teams-container {
    padding: 20px;
    display: flex;
    align-items: center;
}

.teams-container>div {
    width: 50%;
}

.teams-images {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.teams-images img {
    height: 250px;
    width: 100%;
}

.teams-content {
    box-sizing: border-box;
    padding: 75px;
}

.teams-content-title {
    font-size: 45px;
    word-wrap: break-word;
}

.text-quick-list {
    font-weight: 500;
}

.text-features {
    color: #FF900E;
}

/* team style end  */

/* features section style start */
.features {
    margin-top: 120px;
    display: flex;
    gap: 100px;
}

.feautes-content,
.features-image {
    width: 50%;
}

.feautes-content>h3 {
    margin: 25px 0;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.all-card {
    margin-top: 30px;
}

.feautes-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
}


.features-image {
    position: relative;
}

.features-image img {
    width: 100%;
    height: 100%;
}

.ten-years-badge {
    height: 150px;
    width: 300px;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75px);
}

.ten-years-badge h2 {
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.ten-years-badge p {
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0 0 0;
}

/* features section style end */

/* .some fact style start  */
.facts {
    margin-top: 120px;
}

.facts h3 {
    margin: 20px 0;
}

.fact-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 40px;
}

.fact-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.fact-card .card-state {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 10px 0;

}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* .some fact style end */

/* sponsors section style start*/
.sponsors {
    margin-top: 120px;
    text-align: center;

}

.sponsors h3 {
    margin: 20px 0;
}

.sponsors-images {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
}

.sponsors-images img {
    width: 100%;
}

/* sponsors section style end */

/* footer style start  */
footer {
    border-radius: 8px;
    background-color: #FFF4E7;
    margin: 0 100px 100px 100px;
    padding: 20px 0;
    text-align: center;

}

.footer p {
    color: #424242;
    font-size: 20px;
}

/* footer style end */


/* media queries  */

/* for small device  start */
@media screen and (max-width:767px) {

    header,
    .teams-content{
        padding: 20px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    main {
        padding: 0 20px;
    }

    .teams-container>div,
    .feautes-content,
    .features-image {
        width: 100%;
    }

    .teams-images,
    .fact-cards-container {
        grid-template-columns: 1fr;
    }

    .sponsors-images {
        grid-template-columns: repeat(3, 1fr);
    }
    footer{
        margin: 50px 20px;
    }

}

/* for mobile device end  */

/* for medium device  */
@media screen and (min-width:768px) and (max-width:991px) {
    header {
        padding: 30px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    main {
        padding: 0 30px;
    }

    .teams-container>div,
    .feautes-content,
    .features-image {
        width: 100%;
    }

    .fact-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    footer{
        margin: 50px 40px;
    }
}

/* for medium device end  */